{# app/templates/crediario_movimentos/list.html #}
{% extends 'base.html' %}

{% block title %}WebFin - Transações{% endblock %}

{% block topbar_content %}
<h1>Transações de Crediário</h1>

{% with messages = get_flashed_messages(with_categories=true) %}
{% if messages %}
<div class="flash-messages">
    {% for category, message in messages %}
    <div class="alert alert-{{ category }}">
        {% if category == 'success' %}<i class="fas fa-check-circle"></i>{% endif %}
        {% if category == 'danger' %}<i class="fas fa-exclamation-circle"></i>{% endif %}
        {% if category == 'info' %}<i class="fas fa-info-circle"></i>{% endif %}
        {{ message }}
    </div>
    {% endfor %}
</div>
{% endif %}
{% endwith %}
{% endblock %}

{% block content %}
<div class="button-group-top">
    <a href="{{ url_for('crediario_movimento_bp.add_movimento_crediario') }}" class="btn-primary">
        <i class="fas fa-plus-circle"></i> Adicionar
    </a>
</div>

{% if movimentos %}
<table class="data-table">
    <thead>
        <tr>
            <th>Crediário</th>
            <th>Grupo</th>
            <th>Data Compra</th>
            <th>Valor Total</th>
            <th>Parcelas</th>
            <th>1ª Parcela</th>
            <th>Última Parcela</th>
            <th>Valor Parcela</th>
            <th>Descrição</th>
            <th>Ações</th>
        </tr>
    </thead>
    <tbody>
        {% for movimento in movimentos %}
        <tr>
            <td>{{ movimento.crediario.crediario }}</td>
            <td>{{ movimento.crediario_grupo.grupo }} ({{ movimento.crediario_grupo.tipo }})</td>
            <td>{{ movimento.data_compra.strftime('%d/%m/%Y') }}</td>
            <td>R$ {{ "%.2f"|format(movimento.valor_total|float) }}</td>
            <td>{{ movimento.num_parcelas }}</td>
            <td>{{ movimento.primeira_parcela.strftime('%m/%Y') }}</td>
            <td>{{ movimento.ultima_parcela.strftime('%m/%Y') }}</td>
            <td>R$ {{ "%.2f"|format(movimento.valor_parcela_mensal|float) }}</td>
            <td>{{ movimento.descricao if movimento.descricao else '-' }}</td>
            <td class="action-buttons">
                <a href="{{ url_for('crediario_movimento_bp.edit_movimento_crediario', movimento_id=movimento.id) }}"><i
                        class="fas fa-edit"></i> Editar</a>
                <form
                    action="{{ url_for('crediario_movimento_bp.delete_movimento_crediario', movimento_id=movimento.id) }}"
                    method="POST" style="display:inline;">
                    <button type="submit"
                        onclick="return confirm('Tem certeza que deseja excluir este movimento? Esta ação é irreversível!');"
                        style="background: none; border: none; padding: 0; cursor: pointer; color: #DC3545;">
                        <i class="fas fa-trash-alt"></i> Excluir
                    </button>
                </form>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% else %}
<p>Você ainda não tem nenhuma movimentação de crediário cadastrada.</p>
{% endif %}
{% endblock %}